@model MySecretSanta
@{
    ViewData["Title"] = "My Secret Santa";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/toggle.css")" />
}
<h1 style="color: green">Secret Santa</h1>

<div>
    <h4 style="color: red">@Html.DisplayFor(m => m.SantaFullName)</h4>
        @using (Html.BeginForm("MyInfo", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.UserCode)
            <a href="javascript:document.forms[0].submit()" id="submit_link" style="font-size: smaller">Edit My Info</a>
        }
        <label style="white-space: pre">@Html.DisplayFor(m => m.InfoMsg)</label>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            You have been selected as Secret Santa for
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.MySantaFullName)
        </dd>
        <dd class="col-sm-10">
            <label style="white-space: pre">@Html.DisplayFor(m => m.Address)</label>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-4">
            Have you sent your Secret Santa gift?
        </dt>
        <dd class="col-sm-10">
            <label class="switch" style="margin-top: 5px; margin-bottom: -10px">
                @Html.CheckBoxFor(m => m.IsGiftSent)
                <span class="slider round"></span>
                <span class="absolute-no">NO</span>
            </label><br />
            <label id="lblSentGiftError" style="font-size:small; color: red; display: none;">Unable to save</label>
            <label id="lblSentGiftSuccess" style="font-size:small; color: blue; display: none;">settings saved</label>
        </dd>
    </dl>
</div>
<div>
    <label style="font-style: italic; margin-top: 200px">If your name does not match on top please contact your Administrator</label>
</div>

@section scripts{
    <script type="text/javascript">
    var apikey = "@Uri.EscapeDataString(Model.ApiKey)";

    $('#@Html.IdFor(m => m.IsGiftSent)').change(
        function (e) {
            var checked = this.checked;
            $("#lblSentGiftError").hide();
            $("#lblSentGiftSuccess").hide();
            $.ajax({
                url: "/api/santa/sentgift/@Uri.EscapeDataString(Model.UserCode)?v=" + checked + "&&key=" + apikey,
                contentType: "text/xml",
                success: function (result) {
                    console.log("Successfully set value to " + checked);
                    $("#lblSentGiftSuccess").show();
                },
                error: function (result) {
                    console.log("Unble to set value to " + checked);
                    console.log(result);
                    $("#lblSentGiftError").show();
                }
            });
            setTimeout(HideSentGiftResults, 4000);
        }
     );

        function HideSentGiftResults() {
            $("#lblSentGiftSuccess").fadeOut("slow");
            $("#lblSentGiftSuccess").fadeOut("slow");
        }
    </script>
}
